*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
.DS_Store
laprovincia-menu-restaurant-ru.pdf
target/
temp/
tmp/
build/
out/
.gradle/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/
node_modules/
